* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
}
p {
    line-height: 1.75rem;
}

.logo {
    height: 1.5rem;
    color: #2D314D;
}
nav ul{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

li {
    list-style-type: none;
    margin-right: 2rem;
    height: 100%;
}
nav {
    height: 5rem;
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: hsl(233, 8%, 62%);
    height: 100%;
}
nav a:hover{
    color: hsl(233, 26%, 24%);
    border-bottom: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 100%);
    
}
.hamburger {
    display: none;
}

button {
    border: none;
    color: hsl(0, 0%, 100%);
    background: linear-gradient(to right, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 100%);
    padding: 0.75rem 2rem;
    font-weight: 700;
    border-radius: 2rem;
}
button:hover {
    cursor: pointer;
    opacity: 0.6;
}
.info-page {
    display: flex;
    background-color: hsl(0, 0%, 98%);
    height: 90vh;
}

.over {
    /* position: relative; */
    object-position: 45% -10rem;
   object-fit: contain;
    width: 145%;
    height: 145%;
}
.first-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    width: 40%;
}
.first-half h1 {
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: hsl(233, 26%, 24%);
}
.first-half p {
    color: hsl(233, 8%, 62%);
    margin-bottom: 1.5rem;
}
.first-half button {
    margin-right: auto;
}
.pic-half {
    background-image: url(./images/bg-intro-desktop.svg);
    background-size: 150%;
    background-position: 0% 65%;
    background-repeat: no-repeat;
    height: 100%;
    width: 60%;
    object-fit: contain;
}

.why-bank {
    background-color: hsl(220, 16%, 96%);
    padding: 6rem;
}
.why-bank > h1 {
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.why-bank > p {
    width: 40%;
    color: hsl(233, 8%, 62%);
    margin-bottom: 4rem;
}
.why-bank .services {
    display: flex;
}
.service-img {
    margin-bottom: 2rem;
}
.services h2 {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}
.services div{
    margin-right: 4rem;
}
.services div:last-child {
    margin-right: 0;
}
.services p {
    color: hsl(233, 8%, 62%);
}
.article-container {
    display: flex;
    margin: 4rem 6rem 6rem 6rem;
    justify-content: space-between;
}
.article-container article > img {
    height: 50%;
    width: 90%;
    border-radius: 0.5rem 0.5rem 0 0;
}
.articles > h1 {
    margin: 6rem 6rem 0 6rem;
    font-weight: 300;
    font-size: 2.5rem;
    color: hsl(233, 26%, 24%);
}
.art-content {
    width: 70%;
    margin: 1.5rem;
}
.art-content > p {
    font-size: 0.8rem;
}
.art-content p {
    color: hsl(233, 8%, 62%);
}
.art-content a {
    text-decoration: none;
    color: hsl(233, 26%, 24%);
}
.art-content a:hover {
    color: hsl(136, 65%, 51%);
}
.art-content p:last-child {
    font-size: 1rem;
}
.art-content h1 {
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    margin: 0.75rem 0;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(233, 26%, 24%);
    color: hsl(0, 0%, 98%);
    padding: 2rem;
}
footer > div img{
    margin-bottom: 2.5rem;
}
.flex-btn button {
    display: block;
    margin-left: auto;
    margin-bottom: 2.5rem;
}
.flex-btn p {
    color: hsl(233, 8%, 62%);
}
.info-grid {
    width: 25%;
}
.info-grid ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}
footer a {
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-weight: 300;
}
footer a:hover {
    color: hsl(136, 65%, 51%);
}
.attribution {
    padding: 1rem;
}
.logo-span {
    width: 20px;
    height: 20px;
    background-color: hsl(0, 0%, 98%);
    cursor: pointer;
    margin-right: 1rem;
}
.facebook {
    mask-image: url(./images/icon-facebook.svg);
}
.youtube {
    mask-image: url(./images/icon-youtube.svg);
}
.twitter {
    mask-image: url(./images/icon-twitter.svg);
}
.pinterest{
    mask-image: url(./images/icon-pinterest.svg);
}
.instagram {
    mask-image: url(./images/icon-instagram.svg);
}
.logo-span:hover  {
    background-color: hsl(136, 65%, 51%);
    
}
span {
    display: inline-block;
    background-color: #2D314D;
    mask-size: cover;
}

@media (max-width: 375px) {
    body {
        font-size: 14px;
    }
    nav ul, header button {
        display: none;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .why-bank .services, .article-container, footer {
        flex-direction: column;
    }
    .info-page {
        width: 100%;
        flex-direction: column-reverse;
    }
    .info-page h1 {
        font-size: 2rem;
    }
    .first-half {
        padding: 1rem;
        width: 100%;
        text-align: center;
    }
    .first-half button {
        margin-left: auto;
    }
    .why-bank {
        padding: 1rem;
        text-align: center;
    }
    .why-bank p {
        width: 100%;
    }
    .services div {
        margin-right: 0;
    }
    .services {
        text-align: center;
    }
    .article-container {
        margin: 1rem;
    }
    .info-grid ul {
        grid-template-columns: 1fr;
    }
    footer > div img {
        margin-bottom: 1.5rem;
    }
    footer button {
        margin: 1.5rem auto;
    }
    footer > div {
        margin-bottom: 1.5rem;
    }
    .info-grid {
        width: 50%;
        text-align: center;
    }
    .pic-half {
        background-image: url(./images/bg-intro-mobile.svg);
        width: 100%;
    }
}
