* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
}

.logo {
    height: 1.5rem;
}
nav ul{
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}

button {
    border: none;
    color: hsl(0, 0%, 100%);
    background: linear-gradient(to right, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 100%);
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    border-radius: 1rem;
}